*{
margin: 0 16px;
padding: 24px 0;
}
cabeçalho-{
width: 100%;
background-color: #33d503
color:white;
display:flex;
justify-contente:space-avaund;
padding: 24px 0;
}
cabeçalho-imagem}
widh:20%;
}
cabeçalho-imagem
display:incline-block;
}
cabeçalho-lista-item{
display: indine-block 
;